body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-top: 10px;
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.container {
    background-color: #4CAF50;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-left: 35%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

input{
    
    padding: 10px;
    margin-top: 10px;
}
textarea{
    padding: 20px;
}
label{
    margin-top: 10px;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 10vw;
    margin: 10px;
}

input :hover{
    border: 2px solid black;
}
button :hover{
    background-color: #2e8b32;
    border: black;
}
